html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Muller';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
}

.splitter {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

/* ---------- BG_Container ---------- */

.bg_container {
    /* min-width: 1190px; */
    background-image:
    url(../img/bg_wood_tile_cirlce_1_left_top.png),
    url(../img/bg_wood_tile_cirlce_1_left_bottom.png),
    url(../img/bg_wood_tile_cirlce_1_right_top.png),
    url(../img/bg_wood_tile_cirlce_1_right_bottom.png),
    url(../img/bg_wood_title_gorizontal_1.png),
    url(../img/bg_wood_title_gorizontal_1.png),
    url(../img/bg_wood_tile_vertical_1.png),
    url(../img/bg_wood_tile_vertical_1.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 138px, 138px, 138px, 138px, 560px, 560px, 128px, 128px;
    background-position:
    top left,
    bottom left,
    top right,
    bottom right,
    0 -0.3%,
    0 100.3%,
    -0.3% 0,
    100.3% 0;
}

/* ---------- Header ---------- */

.header {
    padding-top: 150px;
}

.header_wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

.header_info {
    font-size: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 100px 0 125px;
    margin-bottom: 110px;
}

.header_socials {
    min-width: 122px;
}

.header_socials_link {
    text-decoration: none;
}

.header_socials_link:hover {
    opacity: 0.75;
}

.header_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.header_contact_address {
    white-space: nowrap;
}

.header_contact_tel {
    white-space: nowrap;
    padding-left: 30px;
}

.header_cart {
    display: flex;
    flex-wrap: nowrap;
}

.cart_body{
    text-align: right;
    min-width: 100px;
    color: orange;
}

.cart_count {
    color: black;
}

.cart_total {
    color: black;
}

.cart_ico {
    width: 100px;
    margin-left: 20px;
    margin-top: -30px;
}

.cart_ico::after {
    display: block;
    content: '';
    width: 97px;
    height: 97px;
    
  
    position: relative;
    top: -100px;
    z-index: -1;
    box-shadow: 0px 30px 20px 0px rgba(34, 60, 80, 0.25);
    border-radius: 50%;
}

.cart_img:hover {
    opacity: 0.85;
}

.header_splitter {
    height: 20%;
    margin: 0 5px;
}

.header_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: -160px;
    padding-right: 150px;
}

.header_nav_link {
    display: block;
    padding: 0 15px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 30px;
    color: orange;
}

.header_nav_link:hover {
    background: url(../img/line_seeds_gorizontal.png) no-repeat bottom center;
    color: black;
}

/* ---------- Intro ---------- */

.intro {
    background: url(../img/img_main.png) no-repeat top;
    margin-bottom: 40px;
    margin-top: -35px;
}

.intro_body {
    padding-top: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.intro_info {
    margin-right: 45px;
    color: orange;
}

.intro_title_color {
    color: black;
}

.intro_title_1 {
    font-size: 20px;
}

.intro_title_2 {
    font-size: 30px;
}

.intro_button {
    background: url(../img/button_buy_normal.png) no-repeat center;
}

.intro_button:hover {
    background: url(../img/button_buy_active.png) no-repeat center;
}

.intro_button_div {
    width: 206px;
    height: 85px;
}

/* ---------- About ---------- */

.about {
    margin-bottom: 80px
}

.about_wrapper {
    background: url(../img/image_rolling_pin.png) no-repeat 59.5%;
    max-width: 1510px;
    margin: 0 auto;
}

.about_body {
    
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.about_text {
    font-size: 18px;
    width: 414px;
    padding-top: 80px;
    padding-bottom: 105px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 20px;
}

/* ---------- Menu ---------- */

.menu {
    margin-bottom: 60px;
    padding: 0 150px;
}

.menu_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.menu_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    
}

.menu_card {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    max-width: 480px;
}

.card_caption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transform: translateY(-50%);
    justify-content: center;
}

.card_button {
    background: url(../img/button_buy_normal.png) no-repeat center;
    background-size: contain;    
}

.card_button:hover {
    background: url(../img/button_buy_active.png) no-repeat center;
    background-size: contain;
}

.card_button_div {
    width: 155px;
    height: 65px;    
}

.card_price {
    width: 100px;
    height: 65px;
    background: url(../img/bg_price_baloon.png) no-repeat center;
    background-size: contain;
    text-align: center;
}

.card_price_value {
    font-size: 30px;
    padding-top: 7px;
}

.card_price_caption {
    font-size: 15px;
}

.card_name {
    font-size: 25px;
    text-align: center;
    margin-top: -20px;
    max-width: 260px;
    height: 90px;
}

/* ---------- Reviews ---------- */

.reviews {
    margin-bottom: 60px;
    padding: 0 150px;
}

.reviews_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.reviews_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 90px;
    margin-bottom: 85px;
}

.reviews_card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.reviews_card_text {
    margin-left: 15px;
    max-width: 600px;
}

.reviews_button {
    background: url(../img/button_review_insta_normal.png) no-repeat center;
}

.reviews_button:hover {
    background: url(../img/button_review_insta_active.png) no-repeat center;
}

.reviews_button_div {
    width: 488px;
    height: 74px;
}

.reviews_button_wrap {
    display: flex;
    justify-content: center;
}

/* ---------- Contacts ---------- */

.contacts {
    margin-bottom: 70px;
}

.contacts_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.contacts_socials {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.contacts_socials_link {
    padding-right: 5px;
}

.contacts_socials_link:hover {
    opacity: 0.75;
}

.contacts_info {
    font-size: 27px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-width: 1000px;
    margin: 0 50px;
}

.contacts_info_contact {
    line-height: 1.8;
    padding: 30px;
}

.contacts_info_contact:hover {
    background: url(../img/frame_seeds.png) no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}

.contacts_info_img {
    padding-right: 10px;
}

.contacts_map {
    margin-top: -10px;
    height: 540px;
    background: url(../img/image_map_front.png), url(../img/map_round.png), url(../img/image_map_back.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1170px, 900px, 1350px;
    background-position: bottom, center, top;
}

.contacts_map_change {
    background: url(../img/image_map_front.png), url(../img/map_round_2.png), url(../img/image_map_back.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 1170px, 900px, 1350px;
    background-position: bottom, center, top;
}

/* ---------- Footer ---------- */

.footer {
    padding-bottom: 210px;
}

.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer_nav_link {
    display: block;
    padding: 0 15px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 25px;
    color: orange;
}

.footer_nav_link:hover {
    background: url(../img/line_seeds_gorizontal.png) no-repeat bottom;
    color: black;
}

.footer_img {
    padding: 0 20px;
}