html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Muller';
    font-style: normal;
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    color: #51271c;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.splitter {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

/* ---------- BG_Container ---------- */

.bg_container {
    min-width: 1090px;
    background-image:
    url(../img/bg_wood_tile_cirlce_1_left_top.png),
    url(../img/bg_wood_tile_cirlce_1_left_bottom.png),
    url(../img/bg_wood_tile_cirlce_1_right_top.png),
    url(../img/bg_wood_tile_cirlce_1_right_bottom.png),
    url(../img/bg_wood_tile_gorizontal_1.jpg),
    url(../img/bg_wood_tile_gorizontal_1.jpg),
    url(../img/bg_wood_tile_vertical_1.jpg),
    url(../img/bg_wood_tile_vertical_1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 138px, 138px, 138px, 138px, 950px, 950px, 128px, 128px;
    background-position:
    top left,
    bottom left,
    top right,
    bottom right,
    0 -0.3%,
    0 100.3%,
    -0.3% 0,
    100.3% 0;
}

/* ---------- Header ---------- */

.header {
    padding-top: 150px;
}

.header_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header_info {
    font-size: 13.5px;
    font-weight: 300;
    color: #51271c;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 100px 0 125px;
    margin-bottom: 110px;
}

.header_logo {
    width: 140px;
}

.logo_img {
    width: 140px;
    height: auto;
}

.header_socials {
    min-width: 92px;
}

.header_socials_link {
    text-decoration: none;
}

.header_socials_link:hover {
    opacity: 0.75;
}

.header_socials_img {
    width: 27px;
}

.header_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.header_contact_address {
    white-space: nowrap;
}

.header_contact_tel {
    white-space: nowrap;
    padding-left: 30px;
}

.header_cart {
    display: flex;
    flex-wrap: nowrap;
}

.cart_body{
    text-align: right;
    min-width: 100px;
    color: #d4913a;
}

.cart_count {
    color: #51271c;
}

.cart_summary {
    font-size: 22.5px;
}

.cart_total {
    color: #51271c;
}

.cart_ico {
    margin-left: 20px;
    margin-top: -30px;
}

.cart_img {
    width: 75px;
    height: auto;
}

.cart_ico::after {
    display: block;
    content: '';
    width: 72px;
    height: 72px;
    
  
    position: relative;
    top: -75px;
    z-index: -1;
    box-shadow: 0px 30px 20px 0px rgba(34, 60, 80, 0.25);
    border-radius: 50%;
}

.cart_img:hover {
    opacity: 0.85;
}

.header_splitter {
    height: 20%;
    margin: 0 5px;
}

.header_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: -160px;
    padding-right: 150px;
}

.header_nav_link {
    display: block;
    padding: 0 15px;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: 300;
    font-size: 22.5px;
    color: #d4913a;
}

.header_nav_link:hover {
    background: url(../img/line_seeds_gorizontal.png) no-repeat bottom center;
    color: #51271c;
}

.header_burger {
    display: none;
    width: 35px;
    margin-top: 3px;
}

.burger_line {
    width: 100%;
    height: 2px;
    background: url(../img/line_seeds_gorizontal.png) no-repeat center center;
    background-size: contain;
    margin-bottom: 8px;
}

.mob_header_contacts {
    display: none;
    font-size: 12px;
    width: 280px;
}

.mob_header_contact {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.mob_header_contact_address {
    white-space: nowrap;
}

.mob_header_contact_tel {
    white-space: nowrap;
    padding-left: 10px;
}

.mob_header_contact_tel_bottom {
    white-space: nowrap;
    padding-left: 30px;
}

.mob_header_contact_img {
    width: 11px;
    height: auto;
    margin-right: 5px;
}

.mob_header_logo {
    display: none;
}

.mob_nav_contacts {
    display: none;
    margin-bottom: 15px;
}

.mob_header_socials {
    display: none;
}

.header_nav_close {
    display: none;
}

/* ---------- Intro ---------- */

.intro {
    background: url(../img/img_main.png) no-repeat top;
    background-size: 760px;
    margin-bottom: 40px;
    margin-top: -35px;
}

.intro_body {
    padding-top: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.intro_info {
    margin-right: 45px;
    color: #d4913a;
}

.intro_title_color {
    color: #51271c;
}

.intro_title_1 {
    font-size: 23px;
}

.intro_title_2 {
    font-size: 27px;
}

.intro_title_space {
    display: none;
}

.intro_button {
    background: url(../img/button_buy_normal.png) no-repeat center;
    background-size: contain;
}

.intro_button:hover {
    background: url(../img/button_buy_active.png) no-repeat center;
    background-size: contain;
}

.intro_button_div {
    width: 155px;
    height: 64px;
}

/* ---------- About ---------- */

.about {
    margin-bottom: 80px
}

.about_wrapper {
    background: url(../img/image_rolling_pin.png) no-repeat 59.5%;
    background-size: 266px;
    max-width: 1200px;
    margin: 0 auto;
}

.about_body {
    
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.about_text {
    font-size: 13.5px;
    width: 311px;
    padding-top: 80px;
    padding-bottom: 105px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 20px;
}

/* ---------- Menu ---------- */

.menu {
    margin-bottom: 60px;
    padding: 0 150px;
}

.menu_title {
    font-size: 27px;
    color: #51271c;
    text-align: center;
    margin-bottom: 50px;
}

.menu_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    
}

.menu_card {
    margin: 0 auto;
}

.card_img {
    width: 200px;
    height: auto;
}

.card_caption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -25px;
    justify-content: center;
}

.card_button {
    background: url(../img/button_buy_normal.png) no-repeat center;
    background-size: contain;    
}

.card_button:hover {
    background: url(../img/button_buy_active.png) no-repeat center;
    background-size: contain;
}

.card_button_div {
    width: 116px;
    height: 49px;
}

.card_price {
    width: 75px;
    height: 49px;
    background: url(../img/bg_price_baloon.png) no-repeat center;
    background-size: contain;
    text-align: center;
}

.card_price_value {
    font-size: 22.5px;
    padding-top: 7px;
}

.card_price_caption {
    font-size: 12px;
    color: #d4913a;
}

.card_name {
    font-size: 19px;
    color: #51271c;
    text-align: center;
    margin: 10px auto 0 auto;
    max-width: 195px;    
    min-height: 68px;
}

/* ---------- Reviews ---------- */

.reviews {
    margin-bottom: 60px;
    padding: 0 150px;
}

.reviews_title {
    font-size: 27px;
    color: #51271c;
    text-align: center;
    margin-bottom: 50px;
}

.reviews_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 90px;
    margin-bottom: 85px;
}

.reviews_card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;    
}

.reviews_card_img {
    width: 80px;
    height: auto;
}

.reviews_card_text {
    margin-left: 15px;
    max-width: 600px;
}

.reviews_button {
    background: url(../img/button_review_insta_normal.png) no-repeat center;
    background-size: contain;
}

.reviews_button:hover {
    background: url(../img/button_review_insta_active.png) no-repeat center;
    background-size: contain;
}

.reviews_button_div {
    width: 366px;
    height: 55px;
}

.reviews_button_wrap {
    display: flex;
    justify-content: center;
}

/* ---------- Contacts ---------- */

.contacts {
    margin-bottom: 70px;
}

.contacts_title {
    font-size: 27px;
    color: #51271c;
    text-align: center;
    margin-bottom: 25px;
}

.contacts_socials {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.contacts_socials_link {
    padding-right: 5px;
}

.contacts_socials_link:hover {
    opacity: 0.75;
}

.contacts_socials_img {
    width: 27px;
}

.contacts_info {
    font-size: 24px;
    font-weight: 300;
    color: #51271c;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-width: 900px;
    margin: 0 0px;
}

.contacts_info_contact {
    line-height: 1.8;
    padding: 30px;
}

.contacts_info_contact:hover {
    background: url(../img/frame_seeds.png) no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}

.contacts_info_img {
    margin-right: 10px;
    width: 20px;
}

.contacts_map {
    margin-top: -10px;
    height: 405px;
    background: url(../img/image_map_front.png), url(../img/map_round.png), url(../img/image_map_back.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 878px, 675px, 1013px;
    background-position: bottom, center, top;
}

.contacts_map_change {
    background: url(../img/image_map_front.png), url(../img/map_round_2.png), url(../img/image_map_back.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 878px, 675px, 1013px;
    background-position: bottom, center, top;
}

/* ---------- Footer ---------- */

.footer {
    padding-bottom: 210px;
    font-weight: 300;
}

.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer_nav_link {
    display: block;
    padding: 0 15px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 22.5px;
    color: #d4913a;
}

.footer_nav_link:hover {
    background: url(../img/line_seeds_gorizontal.png) no-repeat bottom;
    color: #51271c;
}

.footer_img {
    margin: 0 20px;
    width: 67px;
    height: auto;
}
 
/* ---------- Shopping Cart ---------- */

.basket-items {
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
}

.item-img {
    max-width: 70px;
    margin-bottom: 5px;
}

.item-img img {
    width: 100%;
}

.item-title {
    font-size: 16px;
    color: #51271c;
    text-align: center;
    width: 175px;
    margin-bottom: 5px;
}

.item-buttons {
    display: flex;
    flex-wrap: nowrap;
}

.item-count {
    max-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

button.minus, button.plus {
    width: 30px;
    height: 30px;
    border: 0;
}

input[type="num"] {
    width: 30px;
    border: 0;
    text-align: center;
    height: 30px;
}

button.delete {
    width: 30px;
    height: 30px;
    border: 0;
    margin-left: 20px;
}

#basket {
    display: none;
}

.basket-form {
    text-align: center;
}
p.totalsumm {
    margin: 15px 0;
    color: #d4913a;
    font-size: 18px;
}
p.totalsumm span {
    font-weight: bold;
    color: #51271c;
}
.inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
}

.inputs input {
    width: 48%;
    padding: 10px 25px;
    border: 1px solid #eee;
}

.inputs select, .inputs textarea {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #eee;
    resize: none;
}

.send-order {
    background: url(../img/button_buy_normal.png) no-repeat center;
    background-size: contain;
    border: 0;
    width: 150px;
    height: 70px;
}


div#success-add img, div#success-cart img {
    width: 50px;
}

div#success-add, div#success-cart {
    text-align: center;
    display: none;
}

div#success-add p, div#success-cart p {
    margin: 10px 0;
    font-size: 22px;
}

button.opencard {
    width: 180px;
    height: 80px;
    padding: 10px;
    border: 0;
    background: url(../img/cart_button_open.png) no-repeat center;
    background-size: contain;
}

button.closewindow {
    width: 180px;
    height: 80px;
    padding: 10px;
    border: 0;
    background: url(../img/cart_button_close.png) no-repeat center;
    background-size: contain;
}

input::-webkit-input-placeholder {color:#51271c;}
input::-moz-placeholder          {color:#51271c;}
input:-moz-placeholder           {color:#51271c;}
input:-ms-input-placeholder      {color:#51271c;}

textarea::-webkit-input-placeholder {color:#51271c;}
textarea::-moz-placeholder          {color:#51271c;}
textarea:-moz-placeholder           {color:#51271c;}
textarea:-ms-input-placeholder      {color:#51271c;}

select {
    color: #51271c;
}

.item-buttons button, .item-buttons input {
    color: #51271c;
}

.inputs input, .inputs select, .inputs textarea {
    border: 1px solid #d4913a;
}

/* ---------- Media ---------- */

@media screen and (max-width: 767px) {

    .bg_container {
        min-width: 360px;
        background-image:
        url(../img/bg_wood_tile_cirlce_1_left_top.png),
        url(../img/bg_wood_tile_cirlce_1_left_bottom.png),
        url(../img/bg_wood_tile_cirlce_1_right_top.png),
        url(../img/bg_wood_tile_cirlce_1_right_bottom.png),
        url(../img/bg_wood_tile_gorizontal_1.jpg),
        url(../img/bg_wood_tile_gorizontal_1.jpg),
        url(../img/bg_wood_tile_vertical_1.jpg),
        url(../img/bg_wood_tile_vertical_1.jpg);
        background-size: 30px, 30px, 30px, 30px, 250px, 250px, 27px, 27px;
        background-position:
        top left,
        bottom left,
        top right,
        bottom right,
        0 -0.1%,
        0 100.1%,
        -0.1% 0,
        100.1% 0;
    }

    .header {
        padding-top: 32px;
        margin-bottom: 45px;
    }

    .header_info {
        font-size: 10px;
        justify-content: space-between;
        padding: 0 35px 0 35px;
        margin-bottom: 36px;
    }

    .header_socials, .header_contacts, .header_splitter {
        display: none;
    }

    .header_logo {
        width: 45px;
    }

    .logo_img {
        width: 45px;
    }

    .cart_summary {
        font-size: 15px;
    }

    .cart_ico {
        margin-left: 13px;
        margin-top: -1px;
    }

    .cart_img {
        width: 30px;
        height: auto;
    }
    
    .cart_ico::after {
        width: 28px;
        height: 28px;
        top: -30px;
        z-index: -1;
        box-shadow: 0px 10px 10px 0px rgba(34, 60, 80, 0.25);
        border-radius: 50%;
    }

    .header_burger {
        display: block;
    }

    .mob_header_contacts {
        display: block;
        margin: 0 auto;
    }

    .mob_header_logo {
        display: block;
        width: 110px;
        margin: 38px auto 62px auto;
    }

    .mob_logo_img {
        width: 110px;
    }

    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 10;
        padding: 17px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header_nav_active {
        transform: translateX(0);
    }

    .header_nav_close {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: 14px;
        top: 17px;
        right: 40px;
        z-index: 11;
    }

    .header_nav_close_line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #51271C;
        position: absolute;
        top: 50%;
    }

    .header_nav_close_line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav_close_line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .header_list {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        padding-right: 0;
        margin-bottom: 55px;
    }

    .header_nav_item {
        margin-bottom: 15px;
    }
    
    .header_nav_link {
        display: block;
        padding: 0 0;
        padding-bottom: 5px;
        font-weight: 400;
        font-size: 20px;
    }
    
    .header_nav_link:hover {
        background-size: 100%;
    }

    .mob_nav_contacts {
        display: block;
        font-size: 15px;
    }
    
    .mob_nav_contact {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 17px;
    }
    
    .mob_nav_contact_address {
        white-space: nowrap;
    }
    
    .mob_nav_contact_tel {
        white-space: nowrap;
        padding-left: 20px;
    }
    
    .mob_nav_contact_tel_bottom {
        white-space: nowrap;
        padding-left: 9px;
    }
    
    .mob_nav_contact_img {
        width: 11px;
        height: auto;
        margin-right: 5px;
    }

    .mob_header_socials {
        display: block;
    }

    .mob_header_socials_link {
        text-decoration: none;
        margin-right: 12px;
    }
    
    .mob_header_socials_link:hover {
        opacity: 0.75;
    }
    
    .mob_header_socials_img {
        width: 20px;
    }

    .intro {
        margin-top: 0;
        margin-bottom: 35px;
        background-size: 300px;
    }

    .intro_body {
        padding-top: 240px;
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
    }

    .intro_info {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .intro_title_1 {
        font-size: 20px;
    }
    
    .intro_title_2 {
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .intro_title_space {
        display: inline;
    }

    .intro_button {
        margin-top: 20px;
    }

    .splitter {
        margin-top: 35px;
    }

    .splitter_img {
        width: 35px;
    }

    .about {
        margin-bottom: 35px
    }

    .about_wrapper {
        background: url(../img/image_rolling_pin.png) no-repeat 59.5% 43%;
        background-size: 105px;
    }

    .about_body {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 0;
        height: 590px;
    }

    .about_text {
        font-size: 15px;
        line-height: 1;
        width: 280px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 0;
    }

    .menu_title {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .menu {
        margin-bottom: 35px;
        padding: 0 50px;
    }

    .menu_cards {
        grid-template-columns: repeat(auto-fill, minmax(114px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }

    .card_img {
        width: 114px;
    }

    .card_button_div {
        width: 81px;
        height: 34px;
    }

    .card_price {
        width: 36px;
        height: 34px;
    }
    
    .card_price_value {
        font-size: 10px;
        padding-top: 7px;
    }
    
    .card_price_caption {
        font-size: 6px;
    }

    .card_name {
        font-size: 11px;
        margin: 5px auto 0 auto;
        max-width: 110px;    
        min-height: 40px;
    }

    .reviews {
        margin-bottom: 35px;
        padding: 0 50px;
    }

    .reviews_title {
        font-size: 25px;
        margin-bottom: 40px;
    }

    .reviews_cards {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-row-gap: 50px;
        margin-bottom: 50px;
    }

    .reviews_card {
        flex-wrap: wrap;
    }

    .reviews_card_img {
        width: 100px;
        margin-bottom: 40px;
    }

    .reviews_card_text {
        margin-left: 0;
        text-align: justify;
    }

    .reviews_button_div {
        width: 286px;
        height: 43px;
    }

    .contacts {
        margin-bottom: 45px;
    }

    .contacts_title {
        font-size: 25px;
        margin-bottom: 35px;
    }

    .contacts_socials_img {
        width: 35px;
    }

    .contacts_info {
        font-size: 18px;
        font-weight: 400;
        flex-wrap: wrap;
        min-width: 300px;
        margin-bottom: 30px;
    }

    .contacts_info_contact {
        padding: 15px;
    }

    .contacts_info_img {
        margin-right: 5px;
        width: 12px;
    }

    .contacts_map {
        margin-top: -10px;
        height: 120px;
        background-size: 255px, 200px, 300px;
    }
    
    .contacts_map_change {
        background-size: 255px, 200px, 300px;
    }

    .footer {
        padding-bottom: 110px;
    }

    .footer_nav_link {
        display: block;
        padding: 0 5px;
        padding-bottom: 5px;
        text-decoration: none;
        font-size: 13px;
    }

    .footer_nav_link:hover {
        background: url(../img/line_seeds_gorizontal.png) no-repeat bottom;
        background-size: 100%;
        color: #51271c;
    }

    .footer_img {
        margin: 0 10px;
        width: 45px;
        height: auto;
    }

    .fancybox-content {
        padding: 44px 10px 44px 10px;
    }

    .item {
        flex-direction: column;
    }
    
}